@keyframes scale-pulse{
    0%{
        transform: scale(1.0);
        opacity: 0.5;
    }   
    25%,100%{
        transform: scale(1.05);
        opacity: 0.5;
    } 
}

@keyframes set-box{
    0%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}

/* 画面を揺らすアニメーションの定義 */
@keyframes shake {
    0% { transform: translate(0, 0); }
    10% { transform: translate(-5px, -5px); }
    30% { transform: translate(5px, 5px); }
    50% { transform: translate(-5px, 5px); }
    70% { transform: translate(5px, -5px); }
    90% { transform: translate(-5px, 0); }
    100% { transform: translate(0, 0); }
}

// ゆっくり背景が動くアニメーション
@keyframes deep-breath {
    0% { background-position: 0% 50%; 
    }
    50% { background-position: 100% 45%;
    }
    100% { background-position: 0% 30%; }
}

@keyframes blinking{
    0%{ opacity: 1;}
    50%{opacity: 0.5;}
    100%{opacity: 0.9;}
}

@keyframes computing-blink {
    0% { opacity: 0.4; text-shadow: 0 0 2px #00ff00; }
    100% { opacity: 1; text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00; }
}

@keyframes drop-motion { 
    0%{
        transform: translateY(-10px);
    }
    50%,100%{
        transform: translateY(0);
    }
}